{% if page.header == NULL and page.header.image_fullwidth == NULL and page.header.pattern == NULL and page.header.background-color == NULL and page.header.title == NULL %}
<div id="masthead-no-image-header">
	<div class="row">
		<div class="small-12 columns">
			<a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
				<img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}">
			</a>
		</div><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}



{% elsif page.header.title %}
<div id="masthead-with-text" style="{% if page.header.background-color %}background: {{ page.header.background-color }};{% endif %} {% if page.header.image_fullwidth %}{% elsif page.header.pattern %}background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('{{ site.urlimg }}/{{ page.header.pattern }}'){% endif %}">
	<div class="row">
		<div class="small-12 columns">
			<div class="masthead-title">{{ page.header.title }}</div>
		</div><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url && page.header.caption %}
<div class="masthead-caption">
	option 1
	<!--a href="{{ page.header.caption_url }}">{{ page.header.caption }}</!--a-->
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
	option 2
	<!--
	{{ page.header.caption }}
	-->
</div>
{% endif %}





{% elsif page.header.image_fullwidth %}

<div id="masthead">
	<div class="row">
		<div class="small-12 columns">
			<a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
				<img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}">
			</a>
		</div><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url && page.header.caption %}
<div class="masthead-caption">
	<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
	{{ page.header.caption }}
</div>
{% endif %}





{% elsif page.header.pattern %}
<div id="masthead-with-pattern" style="background: url('{{ site.urlimg }}/{{ page.header.pattern }}')">
	<div class="row">
		<figure class="small-12 columns">
			<img src="{{ site.urlimg }}/{{ page.header.image }}" alt="{{ site.title }}">
		</figure><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url && page.header.caption %}
<div class="masthead-caption">
	<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
	{{ page.header.caption }}
</div>
{% endif %}





{% elsif page.header.background-color %}
<style>
	img#book { border: 1px solid silver; }
</style>
<div id="masthead-with-background-color" style="background: {{ page.header.background-color }};">
	<div class="row">
		<div class="columns small-4"><img id="book" src="{{ site.urlimg }}/{{ page.header.image }}" alt="{{ site.title }}"></div>
		<div class="columns small-8">
			<p>Microservices architectures offer faster change speeds, better scalability, and cleaner, evolvable system designs. But implementing your first microservices architecture is difficult. How do you make myriad choices, educate your team on all the technical details, and navigate the organization to a successful execution to maximize your chance of success? With this book, authors Ronnie Mitra and Irakli Nadareishvili provide step-by-step guidance for building an effective microservices architecture.

      <p>Architects and engineers will follow an implementation journey based on techniques and architectures that have proven to work for microservices systems. You'll build an operating model, a microservices design, an infrastructure foundation, and two working microservices, then put those pieces together as a single implementation. For anyone tasked with building microservices or a microservices architecture, this guide is invaluable.
		</div>
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url && page.header.caption %}
<div class="masthead-caption">
	<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
	{{ page.header.caption }}
</div>
{% endif %}





{% elsif page.header == false %}

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% endif %}
